# [Emp]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Emp]    Script Date: 11-08-2022 18:00:24 ******/
CREATE DATABASE [Emp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Employee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Employee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Employee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [Emp] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Emp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Emp] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Emp] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Emp] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Emp] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Emp] SET ARITHABORT OFF 
GO
ALTER DATABASE [Emp] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [Emp] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Emp] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Emp] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Emp] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Emp] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Emp] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Emp] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Emp] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Emp] SET  DISABLE_BROKER 
GO
ALTER DATABASE [Emp] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Emp] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Emp] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Emp] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Emp] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Emp] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Emp] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Emp] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [Emp] SET  MULTI_USER 
GO
ALTER DATABASE [Emp] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Emp] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Emp] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Emp] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [Emp] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [Emp] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [Emp] SET QUERY_STORE = OFF
GO

# [dbo].[City]

In [0]:
USE [Emp]
GO

In [0]:
/****** Object:  Table [dbo].[City]    Script Date: 11-08-2022 18:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NULL,
	[StateId] [int] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Employee]

In [0]:
/****** Object:  Table [dbo].[Employee]    Script Date: 11-08-2022 18:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Phone_No] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Agree] [bit] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[State]

In [0]:
/****** Object:  Table [dbo].[State]    Script Date: 11-08-2022 18:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[City]

In [0]:
SET IDENTITY_INSERT [dbo].[City] ON 
INSERT [dbo].[City] ([CityId], [CityName], [StateId]) VALUES (1, N'Surat', 1)
INSERT [dbo].[City] ([CityId], [CityName], [StateId]) VALUES (2, N'Ahmedabad', 1)
INSERT [dbo].[City] ([CityId], [CityName], [StateId]) VALUES (3, N'Pune', 2)
INSERT [dbo].[City] ([CityId], [CityName], [StateId]) VALUES (4, N'Mumbai', 2)
SET IDENTITY_INSERT [dbo].[City] OFF
GO

# [dbo].[Employee]

In [0]:
SET IDENTITY_INSERT [dbo].[Employee] ON 
INSERT [dbo].[Employee] ([EmployeeID], [Name], [Email], [State], [City], [Phone_No], [Address], [Agree]) VALUES (2, N'Manoj', N'test@gmail.com', N'1', N'1', N'9865451245', N'Ert', 0)
INSERT [dbo].[Employee] ([EmployeeID], [Name], [Email], [State], [City], [Phone_No], [Address], [Agree]) VALUES (3, N'Test', N'manojshewale079@gmail.com', N'1', N'1', N'4343546576', N'sRT', 1)
INSERT [dbo].[Employee] ([EmployeeID], [Name], [Email], [State], [City], [Phone_No], [Address], [Agree]) VALUES (4, N'Test', N'manojshewale079@gmail.com', N'2', N'4', N'9865784565', N'sRT', 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO

# [dbo].[State]

In [0]:
SET IDENTITY_INSERT [dbo].[State] ON 
INSERT [dbo].[State] ([StateId], [Name]) VALUES (1, N'Gujrat')
INSERT [dbo].[State] ([StateId], [Name]) VALUES (2, N'Maharastra')
SET IDENTITY_INSERT [dbo].[State] OFF
GO

# [dbo].[DeleteEmployee]

In [0]:
/****** Object:  StoredProcedure [dbo].[DeleteEmployee]    Script Date: 11-08-2022 18:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[DeleteEmployee]    
(    
 @Id integer    
)    
as     
Begin    
 Delete Employee where EmployeeID=@Id;    
End  
GO

# [dbo].[InsertUpdateEmployee]

In [0]:
/****** Object:  StoredProcedure [dbo].[InsertUpdateEmployee]    Script Date: 11-08-2022 18:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[InsertUpdateEmployee]    
(    
@Id integer,    
@Name nvarchar(50),    
@Email nvarchar(50),    
@State nvarchar(50),    
@City nvarchar(50),
@Phone_No nvarchar(50),
@Address nvarchar(50),
@Agree bit=Null,
@Action varchar(10)    
)    
As    
Begin    
if @Action='Insert'    
Begin    
 Insert into Employee(Name,Email,[State],City,Phone_No,Address,Agree) values(@Name,@Email,@State,@City,@Phone_No,@Address,@Agree);    
End    
if @Action='Update'    
Begin    
 Update Employee set Name=@Name,Email=@Email,[State]=@State,City=@City,Phone_No=@Phone_No,Address=@Address,Agree=@Agree where EmployeeID=@Id;    
End      
End  
  
GO

# [dbo].[SelectCity]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectCity]    Script Date: 11-08-2022 18:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SelectCity]    
@StateId int =Null
as     
Begin    
Select * from City Where StateId=@StateId;    
End
GO

# [dbo].[SelectEmployee]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectEmployee]    Script Date: 11-08-2022 18:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SelectEmployee]    
as     
Begin    
Select * from Employee;    
End  
GO

# [dbo].[SelectState]

In [0]:
/****** Object:  StoredProcedure [dbo].[SelectState]    Script Date: 11-08-2022 18:00:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SelectState]    
as     
Begin    
Select * from State;    
End
GO

# [Emp]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Emp] SET  READ_WRITE 
GO